In [2]:
!pip install pandasql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.40)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.12.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.8.1)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26784 sha256=bff3040651bc317497f8d240a3e0cc29e9fbe1b86f65294e75c8bc46c2cdd0c9
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [3]:
!pip install pyngrok

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyngrok
  Downloading pyngrok-5.1.0.tar.gz (745 kB)
     |████████████████████████████████| 745 kB 4.5 MB/s
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from pyngrok) (6.0)
Building wheels for collected packages: pyngrok
  Building wheel for pyngrok (setup.py) ... done
  Created wheel for pyngrok: filename=pyngrok-5.1.0-py3-none-any.whl size=19007 sha256=de4e84c3ea877efef3b0cad34d31153c60c1a300512f4559c1607221e93972f1
  Stored in directory: /root/.cache/pip/wheels/bf/e6/af/ccf6598ecefecd44104069371795cb9b3afbcd16987f6ccfb3
Successfully built pyngrok
Installing collected packages: pyngrok
Successfully installed pyngrok-5.1.0

In [9]:
import pandas as pd
from pandasql import sqldf
df = pd.read_csv("https://covid.ourworldindata.org/data/owid-covid-data.csv")

In [10]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

# Pandas

## Exercise 1
Using pandas
Retrieve from df dataframe the number of cases and deaths in South America Countries.  (Hint: Use groupby by continent and location)

In [11]:
df.groupby(["continent","location"]).sum()[["new_cases", "new_deaths"]]

                            new_cases  new_deaths
continent     location
Africa        Algeria        269731.0      6878.0
              Angola         102636.0      1920.0
              Benin           27525.0       163.0
              Botswana       325850.0      2777.0
              Burkina Faso    21128.0       387.0
...                               ...         ...
South America Paraguay       714340.0     19448.0
              Peru          4073046.0    216053.0
              Suriname        81007.0      1382.0
              Uruguay        975285.0      7429.0
              Venezuela      541322.0      5792.0

[231 rows x 2 columns]

Using Pandasql

In [ ]:
pysqldf = lambda q: sqldf (q, globals())
query0 = 'SELECT * FROM df'
query1 = 'SELECT "continent","location", SUM("new_cases"), SUM("new_deaths") FROM df  WHERE "continent" IS NOT NULL GROUP BY "continent","location"'
pysqldf(query1)

## Exercise 2
Using pandas

1.  Create a new column called "class_life_expectancy" and classify life_expectancy column in 5 values:
  - 1_less_than_55
  - 2_between_55_and_64
  - 3_between_65_and_74
  - 4_equal_greater_than_75
  - 5_other
2.  Get the sum of new_deaths grouped by class_life_expectancy

In [ ]:
df['class_life_expectancy'] = "5_other"
df.loc[df["life_expectancy"]<55 , "class_life_expectancy"] = "Group1:Less_Than_55"
df.loc[(df["life_expectancy"]>=55) & (df["life_expectancy"]<=64), "class_life_expectancy"] = "Group2:Between_55_And_64"
df.loc[(df["life_expectancy"]>=65) & (df["life_expectancy"]<=74), "class_life_expectancy"] = "Group3:Between_65_And_74"
df.loc[df["life_expectancy"]>=75 , "class_life_expectancy"] = "Group4:Equal_Greater_Than_75"

In [ ]:
df.sample(6)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,class_life_expectancy
17504,BLR,Europe,Belarus,2020-11-22,123999.0,1564.0,1402.000,1096.0,7.0,7.143,...,46.100,NaN,11.000,74.79,0.823,NaN,NaN,NaN,NaN,5_other
54002,ECU,South America,Ecuador,2021-07-16,473647.0,925.0,939.143,21899.0,27.0,13.714,...,12.300,80.635,1.500,77.01,0.759,NaN,NaN,NaN,NaN,Group4:Equal_Greater_Than_75
209061,ZMB,Africa,Zambia,2022-07-03,326259.0,402.0,164.143,4007.0,1.0,0.571,...,24.700,13.938,2.000,63.89,0.584,NaN,NaN,NaN,NaN,Group2:Between_55_And_64
43126,CRI,North America,Costa Rica,2021-03-31,216764.0,0.0,475.143,2957.0,0.0,7.000,...,17.400,83.841,1.130,80.28,0.810,1597.8,5.05,6.79,310.014228,Group4:Equal_Greater_Than_75
79160,GIN,Africa,Guinea,2022-04-25,36540.0,0.0,5.429,441.0,0.0,0.143,...,NaN,17.450,0.300,61.60,0.477,NaN,NaN,NaN,NaN,Group2:Between_55_And_64
207127,OWID_WRL,NaN,World,2021-12-28,283315749.0,1326256.0,955258.571,5417728.0,7596.0,6543.429,...,34.635,60.130,2.705,72.58,0.737,NaN,NaN,NaN,NaN,Group3:Between_65_And_74

In [ ]:
df.groupby(["class_life_expectancy"]).sum()[["new_deaths"]]

                              new_deaths
class_life_expectancy
5_other                       14145672.0
Group1:Less_Than_55               4288.0
Group2:Between_55_And_64         32557.0
Group3:Between_65_And_74       7930249.0
Group4:Equal_Greater_Than_75   4655810.0

Using Pandasql

## Exercise 3 (Inventory Discrepancy)


- Remove dups
- Aggregate
- Merge 2 datasets

In [ ]:
df_expected = pd.read_csv("https://storage.googleapis.com/mojix-devops-wildfire-bucket/analytics/bootcamp_2_0/Bootcamp_DataAnalysis_Expected.csv", encoding="latin-1")

In [ ]:
df_counted = pd.read_csv("https://storage.googleapis.com/mojix-devops-wildfire-bucket/analytics/bootcamp_2_0/Bootcamp_DataAnalysis_Counted.csv", encoding="latin-1")

In [ ]:
df_expected.sample(3).T

In [ ]:
df_expected.shape

In [8]:
df_expected["Retail_Product_SKU"].nunique()

NameError: ignored

In [ ]:
df_counted.sample(3).T

In [ ]:
df_counted.shape

In [ ]:
df_counted["RFID"].nunique()

In [ ]:
df_counted = df_counted.drop_duplicates("RFID")
df_counted.sample(9)

In [ ]:
df_B = df_counted.groupby("Retail_Product_SKU").count()[["RFID"]].reset_index().rename(columns={"RFID":"Retail_CCQTY"})
df_B.sample(9)

In [ ]:
my_columns_selected = ["Retail_Product_Color", "Retail_Product_Level1", "Retail_Product_Level1Name", "Retail_Product_Level2Name", "Retail_Product_Level3Name",
"Retail_Product_Level4Name", "Retail_Product_Name", "Retail_Product_SKU", "Retail_Product_Size", "Retail_Product_Style", "Retail_SOHQTY"]
df_A = df_expected[my_columns_selected]
df_A.head().T

In [ ]:
df_discrepancy = pd.merge(df_A, df_B, how="outer", left_on="Retail_Product_SKU", right_on="Retail_Product_SKU", indicator=True)
df_discrepancy.sample(9)

In [ ]:
df_discrepancy["Retail_CCQTY"] = df_discrepancy["Retail_CCQTY"].fillna(0)
df_discrepancy["Retail_CCQTY"] = df_discrepancy["Retail_CCQTY"].astype(int)
df_discrepancy.head()

In [ ]:
df_discrepancy.dtypes

In [ ]:
df_discrepancy["Retail_SOHQTY"] = df_discrepancy["Retail_SOHQTY"].fillna(0).astype(int)
df_discrepancy["Diff"] = df_discrepancy["Retail_CCQTY"] - df_discrepancy["Retail_SOHQTY"]
df_discrepancy.head()

In [ ]:
df_discrepancy.loc[df_discrepancy["Diff"]<0, "Unders"] = df_discrepancy["Diff"] * (-1)
df_discrepancy.sample(9)

In [ ]:
df_discrepancy["Unders"] = df_discrepancy["Unders"].fillna(0).astype(int)
df_discrepancy.sample(9)

In [ ]:
df_discrepancy.groupby("Retail_Product_Level1Name").sum()

In [ ]:
df_discrepancy.describe()

In [ ]:
df_discrepancy.shape

In [ ]:
df_discrepancy[df_discrepancy["Diff"].isnull()]